<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:configuration="http://cxf.apache.org/transports/http/configuration"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    
    <!-- REST 服务所需的 Provider -->
	<bean id="jacksonJsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"></bean>
	
	<!-- 拦截器 -->
	<bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"></bean>
	<bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"></bean>
    
	<!-- Swagger API listing resource -->
	<bean id="swaggerResourceJSON" class="com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON" />
	
	<!-- Swagger writers -->
	<bean id="resourceWriter" class="com.wordnik.swagger.jaxrs.listing.ResourceListingProvider" />
	<bean id="apiWriter" class="com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider" />
	
    <jaxrs:server id="swagger" address="/rest">
    	<!-- 
        <jaxrs:features>
            <cxf:logging />
        </jaxrs:features>
         -->
         
        <jaxrs:serviceBeans>
        	<list>
		    	<ref bean="userApplication" />
				<ref bean="swaggerResourceJSON" />
        	</list>
        </jaxrs:serviceBeans>
        
        <jaxrs:inInterceptors>
			<!-- 请求日志 -->
			<ref bean="loggingInInterceptor"/>
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<!-- 响应日志 -->
			<ref bean="loggingOutInterceptor"/>
		</jaxrs:outInterceptors>
		
        <jaxrs:providers>
            <ref bean="jacksonJsonProvider"/>
			<ref bean="resourceWriter" />
            <ref bean="apiWriter" />
        </jaxrs:providers>
        
    </jaxrs:server>
     
   <!-- this scans the classes for resources -->
	<bean id="swaggerConfig" class="com.wordnik.swagger.jaxrs.config.BeanConfig">
	  <property name="resourcePackage" value="com.geekymv.restful"/>
	  <property name="version" value="1.0.0"/>
	  <property name="basePath" value="http://localhost/restful/services/rest"/>
	  <property name="title" value="Sample App"/>
	  <property name="description" value="This is a sample app."/>
	  <property name="contact" value="miying@iflytek.com"/>
	  <property name="license" value="Apache 2.0 License"/>
	  <property name="licenseUrl" value="http://www.apache.org/licenses/LICENSE-2.0.html"/>
	  <property name="scan" value="true"/>
	</bean>
</beans>